/* Set global font properties */
:root {
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --line-height-normal: 1.5;
}

/* Style the Hero section */
.Hero {
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
}

/* Style the Hero heading, subheading, and paragraph */
.Hero h3, .Hero p {
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  margin-bottom: 1rem;
}

.Hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  color: #38485a;
}

.Hero p {
  font-size: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style the label of the Form.Group */
#formClinicSelect label {
  align-items: center;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  color: #333;
}

/* Style the select element in the Form.Group */
#formClinicSelect select.form-control {
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-family);
  color: #333;
}

/* Style the selected and disabled options in the select element */
#formClinicSelect select.form-control option:checked,
#formClinicSelect select.form-control option:disabled {
  font-size: 1rem;
  color: #ccc;
}

#formClinicSelect select.form-control option:checked {
  background-color: #54b5a7;
  color: #fff;
}