.Hero {
  padding: 3rem 1rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
}

.Hero h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #007bff;
  margin-bottom: 1rem;
}

.Hero p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.Hero h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Style the label of the Form.Group */
#formClinicSelect label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

/* Style the select element in the Form.Group */
#formClinicSelect select.form-control {
  width: 100%;
  font-size: 1rem;
  color: #333;
}

/* Style the selected option in the select element */
#formClinicSelect select.form-control option:checked {
  background-color: #007bff;
  color: #fff;
}

/* Style the disabled option in the select element */
#formClinicSelect select.form-control option:disabled {
  color: #ccc;
}
