.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  color: #fff;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 1rem;
  max-height: 35px;
}

.brand-text {
  font-size: 2rem;
  font-weight: 500;
  color: #38485a;
  margin-left: 10px;
  padding: 0;
}

#formClinicSelect {
  display: flex;
  font-size: 1rem;
  color: #333;
  margin-left: 1rem;
  width: 10rem;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#formClinicSelect label {
  display: none;
}