.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  font-size: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 1rem;
  max-height: 35px;
  filter: brightness(100);
}

.brand-text {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
  padding: 0;
}

#formClinicSelect {
  display: flex;
  font-size: 1rem;
  color: #333;
  margin-left: 1rem;
  width: 10rem;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
}

#formClinicSelect label {
  display: none;
}